.nav-border{
  border-bottom: 1px solid #adb5bd;
  padding: 36px 0;
}

.nav-btn{
  line-height: 0;
  position: relative;
  color: $accent-200;
  display: flex;
  right: 70px;
  align-items: center;
  border: unset;
}
@media (max-width:992px) {
  .nav-btn{
    right:0
  }
}

@media (max-width:992px) {
  .navbar-collapse.navbar-collapse{
    height: calc(100vh);
  }
}
