<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <title>index</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <main>
      <section class="container container-md my-lg-10 my-sm-8 gx-lg-0">
      <div class="mb-4 rounded-3 position-relative">
        <picture>
          <source media="(min-width: 992px)" srcset="../assets/images/banner.png">
          <img src="/assets/images/banner-sm.png" alt="banner-sm" class="w-100">
        </picture>
        <div class="container-fluid py-5 position-absolute top-50 translate-middle-y text-white ps-9">
          <h3 class="fs-lg-5 fs-6 mb-2">獻給新世代的生活風格誌</h3>
          <h2 class="col-md-8 fs-lg-1 fs-3 mb-5">一起探索生活的無限可能</h2>
          <button class="btn btn-secondary-200 fs-lg-5 text-white" type="button">
            馬上訂閱
            <span class="material-symbols-outlined ms-1 align-text-bottom">
              east
              </span>
          </button>
        </div>
      </div>
    </section>

      <section class="container py-lg-10 py-sm-6">
        <h2 class="mb-5">熱門主題</h2>
        <div class="row row-cols-lg-4 row-cols-md-2 row-cols-1 gy-5">
          <div class="col">
            <div class="theme-card">
            <picture>
              <source media="(min-width: 992px)" srcset="../assets/images/theme-1.png">
              <img src="/assets/images/theme-1-sm.png" alt="hots-1" class="w-100">
            </picture>
            <h5 class="position-absolute top-50 start-50 translate-middle text-white align-middle fs-6">城市漫遊者</h5>
          </div>
             </div>
             <div class="col">
              <div class="theme-card">
            <picture>
              <source media="(min-width: 992px)" srcset="../assets/images/theme-3.png">
              <img src="/assets/images/theme-3-sm.png" alt="hots-3" class="w-100">
            </picture>
            <h5 class="position-absolute top-50 start-50 translate-middle text-white align-middle fs-6">秘境尋蹤人</h5>
          </div>
          </div>
          <div class="col">
            <div class="theme-card">
            <picture>
              <source media="(min-width: 992px)" srcset="../assets/images/theme-5.png">
              <img src="/assets/images/theme-5-sm.png" alt="hots-5" class="w-100">
            </picture>
            <h5 class="position-absolute top-50 start-50 translate-middle text-white align-middle fs-6">品味設計家</h5>
          </div>
          </div>
          <div class="col">
            <div class="theme-card">
            <picture>
              <source media="(min-width: 992px)" srcset="../assets/images/theme-8.png">
              <img src="/assets/images/theme-8-sm.png" alt="hots-8" class="w-100">
            </picture>
            <h5 class="position-absolute top-50 start-50 translate-middle text-white align-middle fs-6">美食探險記</h5>
          </div>
          </div>
          <div class="col">
            <div class="theme-card">
            <picture>
              <source media="(min-width: 992px)" srcset="../assets/images/theme-2.png">
              <img src="/assets/images/theme-2-sm.png" alt="hots-2" class="w-100">
            </picture>
            <h5 class="position-absolute top-50 start-50 translate-middle text-white align-middle fs-6">美學建築誌</h5>
          </div>
          </div>
          <div class="col">
            <div class="theme-card">
            <picture>
              <source media="(min-width: 992px)" srcset="../assets/images/theme-4.png">
              <img src="/assets/images/theme-4-sm.png" alt="hots-4" class="w-100">
            </picture>
            <h5 class="position-absolute top-50 start-50 translate-middle text-white align-middle fs-6">慢活生活行</h5>
          </div>
          </div>
          <div class="col">
            <div class="theme-card">
            <picture>
              <source media="(min-width: 992px)" srcset="../assets/images/theme-6.png">
              <img src="/assets/images/theme-6-sm.png" alt="hots-6" class="w-100">
            </picture>
            <h5 class="position-absolute top-50 start-50 translate-middle text-white align-middle fs-6">工藝匠心賞</h5>
          </div>
          </div>
          <div class="col">
            <div class="theme-card">
            <picture>
              <source media="(min-width: 992px)" srcset="../assets/images/theme-7.png">
              <img src="/assets/images/theme-7-sm.png" alt="hots-7" class="w-100">
            </picture>
            <h5 class="position-absolute top-50 start-50 translate-middle text-white align-middle fs-6">時尚先鋒派</h5>
          </div>
          </div>
        </div>
      </section>

      <section>
        
      </section>

      <section class="bg-primary-200">
        <div class="container position-relative py-lg-10">
          <div class="hito-content d-flex flex-column align-items-center">
            <h3 class="fs-lg-4 fs-6 mb-4 ">\ 母親節強檔活動 /</h3>
          <h2 class="fs-lg-2 mb-4">家庭訂閱方案限時 7 折</h2>
          <ul>
            <li class="list-unstyled fs-6 text-primary-400 mb-3">
              <i class="bi bi-check"></i>
              每月最新文章無限閱讀</li>
            <li class="list-unstyled fs-6 text-primary-400 mb-3">
              <i class="bi bi-check"></i>
              專屬會員限定內容</li>
            <li class="list-unstyled fs-6 text-primary-400 mb-3">
              <i class="bi bi-check"></i>
              定期電子報</li>
            <li class="list-unstyled fs-6 text-primary-400 mb-3">
              <i class="bi bi-check"></i>
              年度精選禮物</li>
            <li class="list-unstyled fs-6 text-primary-400 mb-3">
              <i class="bi bi-check"></i>
              24 /7 優先客戶服務</li>
            <li class="list-unstyled fs-6 text-primary-400 mb-3">
              <i class="bi bi-check"></i>
              為每個成員量身打造專屬行程</li>
          </ul>
          <button class="btn btn-secondary-200 fs-lg-5 text-white" type="button">
            我想了解
          </button>
          </div>
        </div>
      </section>

      <section class="container py-10">
        <div class="row">
          <div class="col-lg-6">
            <h2>Vivre 給你意想不到的生活風格提案</h2>
          </div>
          <div class="col-lg-6">
            <ul class="row">
              <li class="col-lg-6 list-unstyled mt-lg-7">
                <img src="/assets/images/projects-1.png" alt="">
              </li>
              <li class="col-lg-6 list-unstyled">
                <img src="/assets/images/projects-1.png" alt="">
              </li>
              <li class="col-lg-6 list-unstyled mt-lg-7">
                <img src="/assets/images/projects-1.png" alt="">
              </li>
              <li class="col-lg-6 list-unstyled">
                <img src="/assets/images/projects-1.png" alt="">
              </li>
            </ul>
          </div>
        </div>
      </section>

    </main>

    
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
